<%- include('./partials/Header')%> 
<%- include('./partials/Navigation')%>


<main>
  <!-- ================ contact section start ================= -->
  <section class="contact-section">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <h2 class="contact-title">ຕິດຕໍ່ກ່ຽວກັບຂໍ້ມູນ</h2>
          </div>
          <div class="col-lg-8">
            <p class="info1">ຊ່ອງທາງການຕິດຕາມສາລະຫນ້າຮູ້ຜ່ານວິວັດທະນາການແຫ່ງຍຸງດິຈິຕອລທີທັນສະໄຫມ່ກັບທີມງານສ້າງສັນ ແລະ ບັນນາທິການຂ່າວໄດ້ຕະຫລອດ 24ຊົ່ວໂມງ.</p>
            <p class="info2">Nathom Village, Xaythany, Vientiane Capt, Laos</p>
            <p class="info2">Contact1: +856(20) 2944-4949</p>
            <p class="info2">Contact2: +856(20) 2822-2732</p>
          </div>
          <div class="col-lg-3 offset-lg-1">
              <div class="media contact-info">
                  <span class="contact-info__icon"><i class="ti-home"></i></span>
                  <div class="media-body">
                      <h3>Nathom Village, Xaythany District</h3>
                      <p>Vientiane Capt, LAOS</p>
                  </div>
              </div>
              <div class="media contact-info">
                  <span class="contact-info__icon"><i class="ti-tablet"></i></span>
                  <div class="media-body">
                      <h3>+856(20) 2944-4949</h3>
                      <p>Pao LATTANAVORNG</p>
                  </div>
              </div>
              <div class="media contact-info">
                  <span class="contact-info__icon"><i class="ti-email"></i></span>
                  <div class="media-body">
                      <h3>rixnickl2@gmail.com</h3>
                      <p>ຟາກໄວ້, ຈະຕອບທ່ານໄວໆນີ້</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
  </section>
  <!-- ================ contact section end ================= -->
</main>
<%- include('./partials/Footer') %>